* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    background: #54577C;
    width: 15%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.navbar__menu-item {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    padding: 10px;
    margin-top: 40px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.navbar__menu-item:hover {
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    cursor: pointer;
}

.navbar__menu-item_header {
    margin-left: 10px;
}


.navbar__btn-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #EDC7CF;
    font-size: 30px;
}

.navbar__btn-open:hover {
    background: rgba(255,255,255,0.5);

}


.active {
    width: 100%;
    background: #ffffff;
    color: #333333;
    border-radius: 10px;
}

.central-search {
    padding: 50px 0;
    width: 85%;
    min-height: 100vh;
    float: right;
    background: #7f9183;
}

.central__school {
    float: right;
    width: 85%;
    min-height: 100vh;
    display: none;
    background: #f7b32b;
}

.central__teachers {
    padding: 50px 0;
    float: right;
    width: 85%;
    min-height: 100vh;
    display: none;
    background: #EDC7CF;
}

.central__classes {
    float: right;
    width: 85%;
    min-height: 100vh;
    display: none;
    background: #ECFFF8;
}

.central-main__header {
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    color: #f7b32b;
}

.central-main__text {
    width: 700px;
    margin: 30px auto 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}

.search__info {
    width: 700px;
    margin: 40px auto 0 auto;
    text-align: center;
    color: #54577C;
    font-size: 25px;
}

.central-main-search {
    width: 700px;
    margin: 40px auto 0 auto;
    border-radius: 30px;
    background: #ffffff;
    transition: 1s;
}

.central-main__s {

    width: 90%;
    height: 50px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 30px;
    font-size: 25px;
    font-weight: 500;
    color: #333333;
}

.central-main__s:focus {
    background: #54577C;
    color: #ffffff;
}

.central-main__loop {
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 100%;
    background: #54577C;
}


.central-main__loop:hover {
    transform: scale(1.15);
}

.search__dropdown-filter {
    width: 200px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.search__attribute-btn {
    background: #54577C;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}


.search__attribute-btn > i {
    margin-left: 10px;
}

.search__attribute-list {
    margin-top: 10px;
    list-style: none;
    background: rgba(255,255,255,0.5);
    padding: 15px;
    border-radius: 10px;
    display: none;
    transition: 1s;
}

.active__search {
    display: block;
}

.search__attribute-elem {
    color: #54577C;
    font-size: 30px;
    font-weight: 500;
    padding: 3px;
    transition: 1s;
}

.search__attribute-elem:hover {
    background: #ffffff;
    transform: scale(1.25);
    cursor: pointer;
    transition: 1s;
}


.teachers__header {
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    color: #54577C;
}

.teachers__text {
    width: 700px;
    margin: 30px auto 0 auto;
    text-align: center;
    color: #54577C;
    font-size: 25px;
}


.teachers__grid-options {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,10%);
    grid-auto-rows: 100px;
}

.teachers__grid-item {
    border: 3px solid #54577C;
    border-left: none;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDC7CF;
    color: #54577C;
}

.option {
    font-weight: 900;
    background: #7f9183;
    color: white;
}
.teachers__grid-item:first-child {
    border-left: 3px solid #54577C;
}

.teachers__grid-user {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,10%);
    grid-auto-rows: 100px;
}


















.classes__header {
    font-size: 80px;
    font-weight: 900;
    color: #54577C;
    text-align: center;
}

.classes__text {
    width: 700px;
    margin: 30px auto 0 auto;
    text-align: center;
    color: #54577C;
    font-size: 25px;
}


.classes__grid-options {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,10%);
    grid-auto-rows: 100px;
}

.classes__grid-item {
    border: 3px solid #54577C;
    border-left: none;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDC7CF;
    color: #54577C;
}

.classes__grid-item:first-child {
    border-left: 3px solid #54577C;
}

.classes__grid-user {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,10%);
    grid-auto-rows: 100px;
}